@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
/* CSS reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Smythe", system-ui;
}

/* style */
@keyframes fade_in{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
:root{
  --base-color:#fff;
  --add-btn:#e5e5e5;
  --heading-color:black;
  --para-color:rgb(104, 103, 103);
  --popup-color:rgb(223, 220, 220);
  --mode_Chnager:#c8c8c8;
}
.dark_Mode{
  --base-color:#000000;
  --heading-color:#fff;
  --para-color:rgb(182, 205, 233);
  --popup-color:rgb(73, 77, 80);
  --mode_Chnager:#100f0f;
}
body{
  background: #DEDEDE;
}
.app{
  background: var(--base-color);
  width: 450px;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.app__top-banner{
  width: 100%;
  /* height: 180px; */
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}
.toggle_Mode{
  position: absolute;
  z-index: 10;
  background: var(--mode_Chnager);
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.toggle_Mode svg{
  fill: #000000;
}
.toggle_Mode svg:last-child{
  display: none;
}
.dark_Mode .toggle_Mode svg:first-child{
  display: none;
}
.dark_Mode .toggle_Mode svg:last-child{
  display: block;
  fill: #fff;
}
.app__top-img{
  width: 100%;
}
.app__card{
  display: flex;
  align-items: center;
  margin: 15px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #8b8b8b7b;
}
.app__card-icon{
  margin-right: 25px;
  width: 55px;
}
.card-btn{
  align-self: center;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #3c3c3c4a;
  background: var(--add-btn);  
  cursor: pointer;
  margin-left: auto;
}
.card-btn:active{
  transform: scale(.9444);
}
.card_info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order__section{
  padding: 25px;
  margin-top: auto;
  display: none;
}
.order__section h4{
  text-align: center;
  font-size: x-large;
}
.card_info p{
  color: var(--para-color)
}
h2,h4,.order_sum,.order_item{
  color: var(--heading-color);
}
.order__section p{
  font-size: large;
}
.order_item{
  display: flex;
  justify-content: space-between;
}
.order_item p{
  font-size: 24px;
}
.order_sum{
  display: flex;
  justify-content: space-between;
}
.order__submit--btn,.pay__submit{
  background: #16DB99;
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  border: none;
  font-size: large;
  cursor: pointer;
}
.order__submit--btn:active{
  scale: .9888;
}
.popup_section{
  padding: 15px 25px;
  background: var(--popup-color);
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  animation: fade_in 1s;
  display: none;
}
.popup_section form{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 8px;
}
.popup_section input{
  width: 100%;
  padding: 8px;
}
.thank_you--sec{
  background: #64f7b2;
  padding: 25px;
  display: none;
}
.remove_item{
  padding: 3px;
  border-radius: 50%;
  border: 1px solid gray;
  font-size: 10px;
  background: rgb(208, 242, 255);
  cursor: pointer;
  margin-left: 5px;
}